.topbar {
	background: #008001 none repeat ;
	box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2) inset;
	min-height: 10%;
	position: absolute;
	top: 0%;
	min-width: 100%;
}

/* TODO In the following sections the height and width will need modification to be the right size on different screen resolutions */

.istalogo {
	border: none;
	background-color: #008001;
	height: 70%;
	width: 25%;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 10%;
	text-align: center;
	padding: 0;
}
